<% include ../layouts/header.ejs %>

<div class="ui container">
    <div id="jumbotron" class="ui segment">
        <h1 class="ui huge header">YelpCamp</h1>
        <p>View all the campgrounds across the world</p>
        <a class="ui teal button" href="/campgrounds/new">Add New campground</a>
    </div>
    <div class="ui stackable grid tiny">
        <% campgrounds.forEach(function (value) { %>
            <div class="four wide column">
                <img class="ui rounded bordered fluid image" src="<%= value.image %>">
                <div><%= value.name %></div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../layouts/footer.ejs %>